@page "/timeslot"
@using HMSWithLayers.Application.DTOS
@using HMSWithLayers.Core.Result
@inject HMSWithLayers.Application.Contracts.ITimeSlotService timeSlotService
@inject NavigationManager navigationManager
@rendermode InteractiveServer


<h1>TimeSlots</h1>
@if (timeSlots == null)
{
    <p><em>Loading...</em></p>
}
else
{
   
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Day</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var timeSlot in timeSlots.Value)
            {
                <tr>
                    <td>@timeSlot.Id</td>
                    <td>@timeSlot.StartTime</td>
                    <td>@timeSlot.EndTime</td>
                    <td>@timeSlot.Day</td>
                    <td><button @onclick="@(() => NavigateToUpdateTimeSlot(timeSlot.Id))">Update</button></td>
                    <td><button @onclick="@(async () => await OnDelete(timeSlot.Id))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="nav-item w-auto d-flex align-items-end justify-content-end">
        <NavLink class="nav-link btn btn-primary fw-bold text-light " href="addTimeSlot">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> AddTimeSlot
        </NavLink>
    </div>
}

@code {
    private Result<List<TimeSlotResponseDto>> timeSlots;

    protected override async Task OnInitializedAsync()
    {
        timeSlots = await timeSlotService.GetAllTimeSlotAsync();
    }
    private async Task OnDelete(int id)
    {
        await timeSlotService.DeleteTimeSlotAsync(id);
        await RefreshTimeSlots();
    }

    private async Task RefreshTimeSlots()
    {
        timeSlots = await timeSlotService.GetAllTimeSlotAsync();
    }
    private void NavigateToUpdateTimeSlot(int id)
    {
        navigationManager.NavigateTo($"/updatetimeslot/{id}");
    }

}
